body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: -1;
    transform: rotate(-45deg);
}

.star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
    .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
}

.star:nth-child(1) {
    --star-tail-length: 6.17em;
    --top-offset: 29.99vh;
    --fall-duration: 10.891s;
    --fall-delay: 1.785s;
}

.star:nth-child(2) {
    --star-tail-length: 7.46em;
    --top-offset: 6.53vh;
    --fall-duration: 9.355s;
    --fall-delay: 8.973s;
}

.star:nth-child(3) {
    --star-tail-length: 5.77em;
    --top-offset: 66.09vh;
    --fall-duration: 10.668s;
    --fall-delay: 4.894s;
}

.star:nth-child(4) {
    --star-tail-length: 7.21em;
    --top-offset: 43.87vh;
    --fall-duration: 6.252s;
    --fall-delay: 5.371s;
}

.star:nth-child(5) {
    --star-tail-length: 5.49em;
    --top-offset: 66.11vh;
    --fall-duration: 10.55s;
    --fall-delay: 3.726s;
}

.star:nth-child(6) {
    --star-tail-length: 7em;
    --top-offset: 18.87vh;
    --fall-duration: 9.886s;
    --fall-delay: 0.939s;
}

.star:nth-child(7) {
    --star-tail-length: 6.23em;
    --top-offset: 35.7vh;
    --fall-duration: 7.293s;
    --fall-delay: 6.263s;
}

.star:nth-child(8) {
    --star-tail-length: 5.83em;
    --top-offset: 62.62vh;
    --fall-duration: 8.65s;
    --fall-delay: 6.899s;
}

.star:nth-child(9) {
    --star-tail-length: 6.16em;
    --top-offset: 54.63vh;
    --fall-duration: 9.34s;
    --fall-delay: 0.343s;
}

.star:nth-child(10) {
    --star-tail-length: 5.39em;
    --top-offset: 62.41vh;
    --fall-duration: 6.828s;
    --fall-delay: 9.711s;
}

.star:nth-child(11) {
    --star-tail-length: 6.55em;
    --top-offset: 78.32vh;
    --fall-duration: 8.804s;
    --fall-delay: 1.517s;
}

.star:nth-child(12) {
    --star-tail-length: 6.64em;
    --top-offset: 81.58vh;
    --fall-duration: 8.769s;
    --fall-delay: 2.311s;
}

.star:nth-child(13) {
    --star-tail-length: 6.16em;
    --top-offset: 89.5vh;
    --fall-duration: 11.159s;
    --fall-delay: 3.573s;
}

.star:nth-child(14) {
    --star-tail-length: 6.62em;
    --top-offset: 56.88vh;
    --fall-duration: 8.065s;
    --fall-delay: 8.518s;
}

.star:nth-child(15) {
    --star-tail-length: 5.92em;
    --top-offset: 0.38vh;
    --fall-duration: 7.799s;
    --fall-delay: 1.198s;
}

.star:nth-child(16) {
    --star-tail-length: 6.92em;
    --top-offset: 21.73vh;
    --fall-duration: 11.906s;
    --fall-delay: 9.643s;
}

.star:nth-child(17) {
    --star-tail-length: 5.22em;
    --top-offset: 75.81vh;
    --fall-duration: 9.535s;
    --fall-delay: 9.223s;
}

.star:nth-child(18) {
    --star-tail-length: 6.58em;
    --top-offset: 95.76vh;
    --fall-duration: 9.326s;
    --fall-delay: 1.379s;
}

.star:nth-child(19) {
    --star-tail-length: 6.61em;
    --top-offset: 21.41vh;
    --fall-duration: 6.582s;
    --fall-delay: 5.491s;
}

.star:nth-child(20) {
    --star-tail-length: 6.02em;
    --top-offset: 37.23vh;
    --fall-duration: 8.087s;
    --fall-delay: 9.642s;
}

.star:nth-child(21) {
    --star-tail-length: 5.81em;
    --top-offset: 71.27vh;
    --fall-duration: 6.59s;
    --fall-delay: 4.774s;
}

.star:nth-child(22) {
    --star-tail-length: 6.15em;
    --top-offset: 25.76vh;
    --fall-duration: 7.519s;
    --fall-delay: 4.638s;
}

.star:nth-child(23) {
    --star-tail-length: 6.19em;
    --top-offset: 0.15vh;
    --fall-duration: 11.029s;
    --fall-delay: 1.386s;
}

.star:nth-child(24) {
    --star-tail-length: 7.2em;
    --top-offset: 35.98vh;
    --fall-duration: 8.54s;
    --fall-delay: 2.66s;
}

.star:nth-child(25) {
    --star-tail-length: 7.42em;
    --top-offset: 25.3vh;
    --fall-duration: 11.742s;
    --fall-delay: 1.644s;
}

.star:nth-child(26) {
    --star-tail-length: 6.08em;
    --top-offset: 32.53vh;
    --fall-duration: 9.212s;
    --fall-delay: 9.654s;
}

.star:nth-child(27) {
    --star-tail-length: 5.82em;
    --top-offset: 76.06vh;
    --fall-duration: 6.815s;
    --fall-delay: 4.868s;
}

.star:nth-child(28) {
    --star-tail-length: 5.26em;
    --top-offset: 74.27vh;
    --fall-duration: 11.73s;
    --fall-delay: 4.206s;
}

.star:nth-child(29) {
    --star-tail-length: 5.05em;
    --top-offset: 14.46vh;
    --fall-duration: 10.71s;
    --fall-delay: 3.424s;
}

.star:nth-child(30) {
    --star-tail-length: 6.37em;
    --top-offset: 1.68vh;
    --fall-duration: 6.9s;
    --fall-delay: 7.37s;
}

.star:nth-child(31) {
    --star-tail-length: 5.27em;
    --top-offset: 62.9vh;
    --fall-duration: 9.511s;
    --fall-delay: 1.598s;
}

.star:nth-child(32) {
    --star-tail-length: 7.19em;
    --top-offset: 42.93vh;
    --fall-duration: 9.556s;
    --fall-delay: 1.282s;
}

.star:nth-child(33) {
    --star-tail-length: 6.39em;
    --top-offset: 65.96vh;
    --fall-duration: 10.023s;
    --fall-delay: 0.401s;
}

.star:nth-child(34) {
    --star-tail-length: 6.61em;
    --top-offset: 91.12vh;
    --fall-duration: 7.725s;
    --fall-delay: 3.438s;
}

.star:nth-child(35) {
    --star-tail-length: 5.07em;
    --top-offset: 60.48vh;
    --fall-duration: 11.707s;
    --fall-delay: 9.032s;
}

.star:nth-child(36) {
    --star-tail-length: 6.26em;
    --top-offset: 87.71vh;
    --fall-duration: 6.871s;
    --fall-delay: 9.704s;
}

.star:nth-child(37) {
    --star-tail-length: 6.44em;
    --top-offset: 10.63vh;
    --fall-duration: 11.267s;
    --fall-delay: 8.247s;
}

.star:nth-child(38) {
    --star-tail-length: 5.74em;
    --top-offset: 53.78vh;
    --fall-duration: 8.174s;
    --fall-delay: 7.224s;
}

.star:nth-child(39) {
    --star-tail-length: 6.13em;
    --top-offset: 72.1vh;
    --fall-duration: 11.109s;
    --fall-delay: 2.081s;
}

.star:nth-child(40) {
    --star-tail-length: 5.76em;
    --top-offset: 15.37vh;
    --fall-duration: 9.567s;
    --fall-delay: 8.191s;
}

.star:nth-child(41) {
    --star-tail-length: 5.74em;
    --top-offset: 97.68vh;
    --fall-duration: 10.331s;
    --fall-delay: 1.166s;
}

.star:nth-child(42) {
    --star-tail-length: 6.94em;
    --top-offset: 69.19vh;
    --fall-duration: 9.126s;
    --fall-delay: 3.521s;
}

.star:nth-child(43) {
    --star-tail-length: 5.05em;
    --top-offset: 56.38vh;
    --fall-duration: 10.45s;
    --fall-delay: 5.16s;
}

.star:nth-child(44) {
    --star-tail-length: 5.94em;
    --top-offset: 28.84vh;
    --fall-duration: 11.212s;
    --fall-delay: 9.017s;
}

.star:nth-child(45) {
    --star-tail-length: 5.35em;
    --top-offset: 52.69vh;
    --fall-duration: 9.381s;
    --fall-delay: 1.696s;
}

.star:nth-child(46) {
    --star-tail-length: 5.18em;
    --top-offset: 93.05vh;
    --fall-duration: 9.469s;
    --fall-delay: 7.387s;
}

.star:nth-child(47) {
    --star-tail-length: 5.71em;
    --top-offset: 47.14vh;
    --fall-duration: 6.039s;
    --fall-delay: 7.976s;
}

.star:nth-child(48) {
    --star-tail-length: 6.11em;
    --top-offset: 57.66vh;
    --fall-duration: 10.671s;
    --fall-delay: 3.612s;
}

.star:nth-child(49) {
    --star-tail-length: 6.05em;
    --top-offset: 1.86vh;
    --fall-duration: 9.438s;
    --fall-delay: 6.495s;
}

.star:nth-child(50) {
    --star-tail-length: 6.66em;
    --top-offset: 33.51vh;
    --fall-duration: 6.653s;
    --fall-delay: 5.551s;
}

.star::before,
.star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}

.star::before {
    transform: rotate(45deg);
}

.star::after {
    transform: rotate(-45deg);
}

@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}

@keyframes tail-fade {

    0%,
    50% {
        width: var(--star-tail-length);
        opacity: 1;
    }

    70%,
    80% {
        width: 0;
        opacity: 0.4;
    }

    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0.6;
    }
}